@import "fonts.scss";
@import "mixin.scss";

.wrapper {
    max-width: 940px;
    min-height: 650px;
    margin: 0 auto;
}

body {
    color: #fff;
    font-family: ubuntu;
    font-weight: 400;
}

.section {
    height: 100vh;
    min-height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    font-family: ubuntu;
    font-weight: 500;
    font-size: 0.8125rem;
    background-color: #e45028;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
}

.first-screen {
    display: flex;
    background-image: url(/img/first-section-bg.jpg);
}

.wrapper-first {
    display: flex;
    flex: 1;
    flex-direction: column;
} 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.38%;
}

.header__menu {
    width: 80%;
    text-align: right;
}

.menu__item {
    display: inline;
    margin-right: 32px;
}

.menu__link {
    color: #fff;
    font-size: .8125rem;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;

    &:after {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        border: 1px solid #fff;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: calc(50% - 2px);
        left: calc(100% + 16px);
    }
}

.menu__item:last-child .menu__link:after {
    display: none;
}

.header__btn--hover:hover {
    background-color: rgb(193, 64, 30);
}

.first__main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.first__left {
    padding: 20px;
}

.first__right {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.first__subtitle {
    font-family: lifehack;
    font-size: 4.0625rem;
    color: #fff;
    line-height: 1;
}

.main-title {
    font-family: gagalin;
    font-size: 4.5rem;
    color: #f9b43b;
    text-transform: uppercase;
    font-weight: 400;
}

.first__footer {
    display: block;
    text-align: center;
    padding-bottom: 5%;
}

.we {
    background-image: url(../img/we-section-bg.jpg);
    background-size: 100% 100%;
}

.we__title__text {
    color: #2f3234;
    padding-top: 10%;
    text-align: center;
}

.we__list {
    display: flex;
    margin-top: 11%;
}

.we__list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.we__list__item__img {
    margin-bottom: 10%;
}

.we__list__item__title {
    color: #2f3234;
    font-family: lifehack;
    font-size: 1.5rem;
    text-align: center;
    
}

.we__list__item__desc {
    color: #2f3234;
    @include font-size(14px);
    font-family: ubuntu;
    text-align: center;
    line-height: 2;
}

.feedback {
    display: flex;
    flex-wrap: wrap;
}

.feedback__item {
    width: 25%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@for $i from 1 through 8 {
    .feedback__item:nth-child(#{$i}) {
        background-image: url(../img/feedback-photo-#{$i}.jpg);
        filter: grayscale(100%);
    }
}

.feedback__about {
    display: none;
    width: 100%;
    height: 100%;
    padding: 50px 20px 0 20px;
}

.feedback__item:hover .feedback__about {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.feedback__title {
    color: #fff;
    font-family: gagalin;
    text-transform: uppercase;
    @include font-size(14px);
    padding-bottom: 30px;
}

.feedback__desc {
    color: #fff;
    font-family: ubuntu;
    font-weight: 300;
    @include font-size(14px);
}

.feedback__btn {
    font-family: ubuntu;
    font-weight: 400;
    @include font-size(14px);
    text-transform: uppercase;
    margin-top: 20px;
}

.btn--feedback {
    color: #fff;
    background-color: #2f3234;
    border-radius: 5px;
    padding: 13px 14px;

    &:hover {
        background-color: #1f2122;
    }
}
