.burgers {
    background-image: -moz-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -ms-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    height: 100vh;
    min-height: 650px;
    display: flex;
}

.wrapper-burgers {
    display: flex;
    flex: 1;
}

.burgers__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgers__item {
    display: flex;
    position: relative;

    @include tablets {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.burgers__composition {
    position: absolute;
    background-color: #f08c33;
    border-radius: 5px;
    bottom: 100%;
    padding: 1.49% 2.34% 0 2.34%;
    
    &:hover {
       background-color: #e35028; 
    }

    @include tablets {
        left: 20%;
    }

    @include phones {
        left: 0;
    }
}

.composition__logo {
    display: flex;
    justify-content: center;
}

.composition__title p {
    font-family: gagalin;
    font-size: rem(14px);
    padding-bottom: 8px;
    text-align: center;
}

.burgers__composition-list {
    display: none;
    background-color: #fef8ec;
    border-radius: 5px;
    position: absolute;
    opacity: .9;
    // width: 270px;
    width: 300%;      
    top: 0;
    left: 90px;
}

.burgers__composition:hover .burgers__composition-list {
    display: block;
}

.composition-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 5.55%;

    &:nth-child(1) {
        margin-top: 6.66%;
    }
}

.composition-list__item:first-child .composition-list__title {
    padding-left: 4px;
}

.composition-list__item:nth-child(2) .composition-list__title {
    padding-left: 3px;
}

.composition-list__item:nth-child(3) .composition-list__title {
    padding-left: 10px;
}

.composition-list__item:nth-child(4) .composition-list__title  {
    padding-left: 8px;
}

.composition-list__item:nth-child(5) .composition-list__title {
    padding-left: 5px;
}

.composition-list__item:nth-child(6) .composition-list__title {
    padding-left: 9px;
}

.composition-list__item:nth-child(2) .composition-list__img {
    margin-left: -3px;
}

.composition-list__img {
    padding: 0 9.259%;

}

.composition-list__item__text {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-right: 7.407%;
}

.composition-list__title {
    color: #000;
    font-size: rem(14px);
    font-family: ubuntu;
    font-weight: 500;  
}
  
.composition-list__weigth {
    display: inline;
    color: #000;
    font-size: rem(14px);
    font-family: ubuntu;
    font-weight: 300;
}

.burgers__weigth {
    position: absolute;
    top: 100%;
    font-family: gagalin;
    font-size: rem(20px);

    @include tablets {
        right: 25%;
        top: -10%;
    }

    @include phones {
        right: 0;
        top: -13%;
    }
}

.weigth__variable {
    position: absolute;
    top: 25px;
    left: 14px;
}

.weigth__title {
    font-size: rem(14px);
    text-align: center;
}

.burgers__left {
    display: flex;
    flex: 1;

    @include tablets {
        padding-bottom: 5%;
    }

    @include phones {
        justify-content: center;
    }
}

.burgers__img {   
    max-height: 329px;

    @include phones {
        width: 80%;
        height: 50%;
    }
}

.burgers__right {
    display: flex;
    flex-direction: column;
    flex: 1;

    @include tablets {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

}

.burgers__title {
    @include tablets {
        width: 70%;
        text-align: center;
    }
}

.burgers__title__text {
    color: #fff;
    line-height: 1;
    margin-bottom: 9%;

    @include tablets {
        margin-bottom: 7%;
    }
}

.burgers__desc {
    font-size: rem(14px);
    line-height: 1.5;
    font-weight: 300; 
    
    @include tablets {
        text-align: center;
    }

    @include phones {
        width: 80%;
    }

}

.burgers__desc p {
    margin-bottom: 6%;
}

.burgers__price-btn {
    font-family: gagalin;
    color: #e35028;
    display: flex;
    align-items: flex-end;
}

.burgers__price-btn span {
    font-size: rem(72px);
    line-height: 1;
    padding-right: 2.128%;
}

.burgers__price-btn p {
    font-size: rem(30px);
    padding-right: 6.38%;
}