.feedback__list {
    display: flex;
    flex-wrap: wrap;
}

.feedback__item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    height: 50vh;
    width: 25%;
    position: relative;

    @include tablets {
        height: 25vh;
        width: 50%;
    }

    &:hover .feedback__hover {
        opacity: 1;
    }
}

.feedback__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, .5);
    opacity: 0;
    transition: .3s;
    padding: 13.6986% 5.4794% 0 5.4794%;

    @include tablets {
        padding: 5% 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.feedback__title {
    color: #fff;
    font-family: gagalin;
    text-transform: uppercase;
    font-size: rem(14px);
    padding-bottom: 5.4794%;

    @include phones {
        font-size: rem(24px);
        text-align: center;
        font-weight: 400;
    }
}

.feedback__desc {
    color: #fff;
    font-family: ubuntu;
    font-weight: 300;
    font-size: rem(14px);

    @include tablets {
        text-align: center;
    }

    @include phones {
        display: none;
    }
}

.feedback__btn, .feedback__btn--mobile {
    display: inline-block;
    font-family: ubuntu;
    font-weight: 400;
    font-size: rem(13px);
    text-transform: uppercase;
    margin-top: 5.4794%;

}

.feedback__btn {
    @include phones {
        display: none;
    }
}

.feedback__btn--mobile {
    display: none;

    @include phones {
        display: inline-block;
    }
}

.btn--feedback {
    display: inline-block;
    color: #fff;
    background-color: #2f3234;
    border-radius: 5px;
    padding: 13px 15px;

    &:hover {
        background-color: #1f2122;
    }
}
