 
.menu-section {
    position: relative;
    background-image: url(../img/bg/menu-section-bg.jpg);
}

.menu-section__title {
    padding-top: 15%;
    color: #fff;
    display: inline-block;
}

.menu-list {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    overflow: hidden;
}

.menu-list__item {
    display: flex;

    &:nth-child(1) .menu-list__title {
        background-image: url(../img/bg/menu-list__title-1.jpg);
    }

    &:nth-child(2) .menu-list__title {
        background-image: url(../img/bg/menu-list__title-2.jpg);
    }

    &:nth-child(3) .menu-list__title {
        background-image: url(../img/bg/menu-list__title-3.jpg);
    }
}

.menu-list__item_active .menu-list__title {
    color: #f9b43b;
}

.menu-list__item_active .menu-list__content {
    max-width: 40rem;
    padding: 9.6875% 5.46875%;
    visibility: visible;
    opacity: 1;

    @include tablets {
        max-width: 332px;
    }
}


.menu-list__title {
    position: relative;
    width: rem(80px);
    font-size: rem(40px);
    font-family: gagalin;
    line-height: rem(80px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    text-transform: uppercase;
}

.menu-list__title span {
    white-space: nowrap;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    line-height: 5rem;
}

.menu-list__content {
    background-color: rgba(47, 50, 52, .929);
    color: #fff;
    font-size: rem(14px);
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.714;
    max-width: 0;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    transition-property: max-width, opacity, visibility;
}
