html {
    /* @include desktop {
        font-size: rem(16px);
    }

    @include laptop {
        font-size: rem(15px);
    }

    @include tablets {
        font-size: rem(14px);
    }

    @include phones {
        font-size: rem(13px);
    }

    @include old-phones {
        font-size: rem(13px);
    }

    @media (min-width: 1200px) {
        font-size: rem(16px);
    } */


    @media (min-width: 1200px) {
        font-size: rem(16px);
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        font-size: rem(16px);
    }
    @media (min-width: 768px) and (max-width: 992px) {
        font-size: rem(15px);
    }
    @media (min-width: 480px) and (max-width: 768px) {
        font-size: rem(14px);
    }
    @media (max-width: 480px) {
        font-size: rem(13px);
    }

}

body {
    color: #fff;
    font-family: ubuntu;
    font-weight: 400;
}  

body, html {
    &.active {
        overflow: hidden;
    }
}